{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Feeds{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>This is a page for handling feeds<p>
<div class="container">
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button">Left</button>
    <button class="btn btn-primary" type="button">Right</button>
  </div>

  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button"><i class="fa-solid fa-play"></i> Play</button>
    <button class="btn btn-primary" type="button"><i class="fa-solid fa-pause"></i> Pause</button>
    <button class="btn btn-primary" type="button"><i class="fa-solid fa-stop"></i> Stop</button>
  </div>
</div>
{% endblock %}
