{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Medication{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>This is a page for Medication for mum, e.g. pain relief etc<p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Medication Tracker</h5>
    <form method="post" name="form-medication-log">
      <label class="form-label" for="medication-take-name">Medication to Log</label>
      <div class="mb-3">
        <select class="form-select" id="medication-take-name" name="medication-take-name">
          {% for medication in medications %}
          <option value={{medication}}>{{medication}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- <div class="mb-3"> -->
      <!--   <label for="medication-take-datetime" class="form-label">Taken when</label> -->
      <!--   <input type="datetime-local" id="medication-take-datetime" name="medication-take-datetime"> -->
      <!-- </div> -->
      <button class="btn btn-primary" type="submit" id="medication-log-submit">Submit</button>
    </form>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Medication Log</h5>
    <table class="table">
      <tr>
        <th>Medication</th>
        <th>Time</th>
      </tr>
      {% for med in medication_log %}
      <tr>
        <td>{{ med["medication"] }}</td>
        <td>{{ med["taken_date"].strftime("%Y-%m-%d %H:%M") }}</td>
      </tr>
      {% endfor %}
      </tr>
    </table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Add Medication</h5>
    <form method="post" name="form-medication-add">
      <div class="mb-3">
        <label for="medication-name" class="form-label">Medication Name</label>
        <input type="text" class="form-control" id="medication-name" placeholder="e.g. Paracetemol" name="medication-name">
      </div>
      <label class="form-label">Minimum time between doses</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="4" id="duration-number" name="duration-number">
        <select class="form-select" id="dutation-text" name="duration-text">
          <option value="minutes">Minutes</option>
          <option value="hours">Hours</option>
          <option value="days">Days</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" id="medication-add-submit">Submit</button>
    </form
  </div>
</div>

{% endblock %}
